@using EventEase.Models

<li>
    <h2>@Event.Name</h2>
    <p>@Event.StartDate.ToString("MM/dd/yyyy")</p>
    <p>@Event.Location</p>
</li>

@code {
    [Parameter]
    public Event Event { get; set; }
}