@page "/"
@using EventEase.Models
@using EventEase.Services
@using EventEase.Components
@inject IEventService EventService

<PageTitle>Home</PageTitle>

<h3>Upcoming Events</h3>
@if (events == null || !events.Any())
{
    <p>No events available.</p>
}
else
{
    <ul>
        @foreach (var eventObj in events)
        {
            <EventCard @key="eventObj.Id" Event="eventObj" />
        }
    </ul>
}
@code {
    private List<Event> events;

    protected override void OnInitialized()
    {
        events = EventService.GetEvents();
    }
}